@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Legion</h1>
        <p>Guild Site</p>
    </div>
</div>

<div class="container body-content">
    <div class="row">
        <div class="col-sm-8">
            <span class="text-center">left8</span>
        </div>
        <div class="col-sm-4">
            <span><img src="../img/placeholder250.png" /></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <span><img src="../img/placeholder250.png" /></span>
        </div>
        <div class="col-sm-8">
            <span class="text-center">right8</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <span><img src="../img/placeholder150.png" /></span>
        </div>
        <div class="col-sm-6">
            <span class="text-center">center6</span>
        </div>
        <div class="col-sm-4">
            <span><img src="../img/placeholder250.png" /></span>
        </div>
    </div>
    <div class="row">
        <h4 class="text-center">Leadership</h4>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading">Name</div>
                <div class="panel-body text-center"><img src="../img/placeholder150.png" /></div>
                <div class="panel-footer">Description</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading">Name</div>
                <div class="panel-body text-center"><img src="../img/placeholder150.png" /></div>
                <div class="panel-footer">Description</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading">Name</div>
                <div class="panel-body text-center"><img src="../img/placeholder150.png" /></div>
                <div class="panel-footer">Description</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading">Name</div>
                <div class="panel-body text-center"><img src="../img/placeholder150.png" /></div>
                <div class="panel-footer">Description</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading">Name</div>
                <div class="panel-body text-center"><img src="../img/placeholder150.png" /></div>
                <div class="panel-footer">Description</div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel">
                <div class="panel-heading">Name</div>
                <div class="panel-body text-center"><img src="../img/placeholder150.png" /></div>
                <div class="panel-footer">Description</div>
            </div>
        </div>
    </div>
</div>







@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@