@font-face{
    font-family: 'Zenzai Itacha';
    src: url('../fonts/Zenzai Itacha.ttf');
}
body {
}
.jumbotron{
    height: 100vh;
    background: url("../img/defaultbdobg.jpg") no-repeat center;
    background-size: cover;
    padding-bottom: 20px;
    color: white;
}
.jumbotron #title{
    height: 85vh;
}
.jumbotron h1{
    font-family: 'Zenzai Itacha';
    font-size: 500%;
}

.bounce {
  position: relative;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height:50px;
  width:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px;  }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     { bottom:0;    }
}
